body{background:#FFF;color:#000;font:0.9em Verdana,Sans-Serif;margin:0;padding:0}
a{color:#DE7008}
a:hover {color:#E0AD12}
#logo{margin:0;padding:0}
#mainClm {float:left;margin: 5px 15px 0 5px;padding:10px 5px 0 8px;width:75%}
#sideBar {float:right;padding: 10px 5px 2px 4px;text-align:left;width:20%}
/* div#mainClm{float:right;width:70%;padding:10px 5px 0 5px;margin: 5px 20px 0 0} */
#header{background:#FFEBCD;border-bottom: 0;border-top: 0;color:#8B4513;margin:0 0 20px 0;padding:0 0 6px 0} /* FF4500*/
h1{background:#E14919;border-bottom:solid 4px #E14919;border-top:solid 4px #E14919;color:#FFFAFA;font:bold 250% Verdana,Sans-Serif;margin:0 0 5px 0;padding:4px 0 5px 6%}
h2{background:#EEE;border-bottom:solid 1px #DDD;border-left:solid 1px #f5f5f5;border-right:solid 1px #f5f5f5;border-top:solid 1px #f5f5f5;color:#444;font:bold 110% Verdana,Sans-Serif;margin:0 0 10px 0;padding:2px 0 2px 5px;}
h2 a{border:none;color:#444;text-decoration:none}
h2 a:link{color:#444}
h2 a:visited{color:#444}
h2 a:active{color:#444}
h2 a:hover{color:#DE7008;text-decoration:none}
h3 {color:#444;font-size:100%;margin:0;padding:0;text-align:left}
h4{border-bottom:dotted 1px #CCC;color:#777;font-size:90%;margin:10px 0 0 0;padding:0 0 0 2%;text-align:left}
h5{border-bottom:dotted 1px #CCC;color:#777;font-size:90%;margin:10px 0 0 0;padding:0 0 0 2%;text-align:left}
h6{color:#FF4500;font:bold 95% Verdana,Sans-Serif;margin:0;padding:0}
h6 a{border:none;color:#DE7030;text-decoration:none}
h6 a:link{color:#DE7030}
h6 a:visited{color:#DE7030}
h6 a:active{color:#DE7030}
h6 a:hover{color:#FF4500;text-decoration:underline}
h7{color:#333;font:bold 80% Verdana,Sans-Serif;margin:0;padding:0}
#sideBar ul{list-style-type:none;margin:0 0 3px 0;padding:0}
#sideBar li{background:transparent;color:#9E5205;font:bold 85% Verdana,Sans-Serif;list-style-type:none;margin:0 0 3px 0;padding:0}
#description{margin:0;padding:0 0 0 5%}
.blogPost{font-size:100%;margin:0 6px 30px 5px}
.blogPost strong{color:#000;font-weight:bold}
#sideBar ul a{border:none;color:#999;text-decoration:none}
#sideBar ul a:link{color:#999}
#sideBar ul a:visited{color:#999}
#sideBar ul a:active{color:#ff0000}
#sideBar ul a:hover{color:#DE7008;text-decoration:none}
pre,code{color:#999}
strike{color:#999}
.bug{border:0;padding:5px}
.byline{color:#444;font-size:80%;margin:0;padding:0}
.byline a{border:none;color:#FF4500;text-decoration:none}
.byline a:hover{text-decoration:underline}
.desc {color: #E27507}
.desclink {color: #FF4500}
.evnt {color:#666; font-size:80%;line-height: 95%}
.evntsm {color:#999;font-size:60%;line-height: 95%; }
.evntsm a{color:#999;text-decoration:none}
.evntsm a:link{color:#999;text-decoration:none}
.evntsm a:visited{color:#999}
.evntsm a:active{color:#ff0000}
.evntsm a:hover{color:#DE7008;text-decoration:none}
.recent {color:#999;font-size:80%;line-height: 90%}
.recent ul{font-size:80%;list-style-type:square;margin:0 0 33px 0;padding:0;}
.recent li{font-size:80%;list-style-type:none;margin:0;padding:0}
.style1 {color: #9999AC;font: 60% Trebuchet MS,Trebuchet,Verdana,Sans-Serif;font-size: 60%}
.style1 {color: #9999AC;font:normal 60% Trebuchet,Verdana,Sans-Serif}
.style2 {font-size: x-small}
.style3 {color:#000;font-size:small}
